<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\Demos\JJ.Demos.JavaScript\packages.config" />
  <repository path="..\Framework\JJ.Framework.Persistence.Tests\packages.config" />
  <repository path="..\OneOff\JJ.OneOff.BeginCollectionItemTest\packages.config" />
  <repository path="..\Persistence\JJ.Persistence.QuestionAndAnswer.EntityFramework5\packages.config" />
  <repository path="..\Persistence\JJ.Persistence.SetText.EntityFramework5\packages.config" />
  <repository path="..\Presentation\JJ.Presentation.QuestionAndAnswer.Mvc\packages.config" />
  <repository path="..\Presentation\JJ.Presentation.SetText.Mvc\packages.config" />
</repositories>